.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.additionalSection {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
